# Run test file with command:
#   act pull_request -e testdata/act/pull-request.json

name: Test Find Flags
on: pull_request

jobs:
  find_flags:
    runs-on: ubuntu-latest
    name: Test Find Flags
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Find LaunchDarkly Feature Flags
        uses: ./ # Uses an action in the root directory
        id: find_flags
        with:
          project-key: demo-dan-042021-2
          environment-key: developmentddd
          access-token: ${{ secrets.LD_ACCESS_TOKEN }}
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          base-uri: https://app.launchdarkly.com
          max-flags: 200
      - name: Find flags summary
        run: |
          echo "flags addded or modified ${{ steps.find_flags.outputs.modified-flags-count }}"
          echo "flags removed ${{ steps.find_flags.outputs.removed-flags-count }}"
      - name: Added or modified flags
        if: steps.find_flags.outputs.any-modified == 'true'
        run: |
          for flag in ${{ steps.find_flags.outputs.modified-flags }}; do
            echo "$flag was added or modified"
          done
      - name: Removed flags
        if: steps.find_flags.outputs.any-removed == 'true'
        run: |
          for flag in ${{ steps.find_flags.outputs.removed-flags }}; do
            echo "$flag was removed"
          done
      - name: Add label
        if: steps.find_flags.outputs.any-modified == 'true' || steps.find_flags.outputs.any-removed == 'true'
        run: gh pr edit $PR_NUMBER --add-label ld-flags
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PR_NUMBER: ${{ github.event.pull_request.number }}
      - name: Remove label
        if: steps.find_flags.outputs.any-modified == 'false' && steps.find_flags.outputs.any-removed == 'false'
        run: gh pr edit $PR_NUMBER --remove-label ld-flags
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PR_NUMBER: ${{ github.event.pull_request.number }}
