on: [pull_request]

jobs:
  find_flags:
    runs-on: ubuntu-latest
    name: Test Find Flags
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Hello world action step
        uses: ./ # Uses an action in the root directory
        id: find_flags
        with:
          projKey: support-service
          envKey: dano,production
          accessToken: ${{ secrets.LD_ACCESS_TOKEN }}
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          baseUri: https://app.launchdarkly.com
