# Run test file with command:
#   act pull_request -e testdata/act/pull-request.json

name: Test Find Flags
on: pull_request

jobs:
  find_flags:
    runs-on: ubuntu-latest
    name: Test Find Flags
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Find LaunchDarkly Feature Flags
        uses: ./ # Uses an action in the root directory
        id: find_flags
        with:
          projKey: demo-dan-042021-2
          envKey: development
          accessToken: ${{ secrets.LD_ACCESS_TOKEN }}
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          baseUri: https://app.launchdarkly.com
      - name: Find flags summary
        run: |
          echo "flags addded or modified ${{ steps.find_flags.outputs.modified_flags_count }}"
          echo "flags removed ${{ steps.find_flags.outputs.removed_flags_count }}"
      - name: Added or modified flags
        if: steps.find_flags.outputs.any_modfied == 'true'
        run: |
          for flag in ${{ steps.find_flags.outputs.modified_flags }}; do
            echo "$flag was added or modified"
          done
      - name: Removed flags
        if: steps.find_flags.outputs.any_removed == 'true'
        run: |
          for flag in ${{ steps.find_flags.outputs.removed_flags }}; do
            echo "$flag was added or modified"
          done
